/* Eos digital agency individual css file */
.float {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 140px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#processSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    bottom: 100px;
}

#serviceSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #2c1c2b;
    padding: 52px 0 54px 55px;
    :nth-child(1) {
        margin-right: 30px;
    }
    :nth-child(2) {
        margin-right: 30px;
    }
    :nth-child(3) {
        margin-right: 30px;
    }
}

@media only screen and (max-device-width : 812px) {
    #processSection {
        bottom: 65px;
    }

    .float {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        bottom: 80px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #processSection {
        bottom: 40px;
    }

    #serviceSection {
        padding: 52px 10px 54px 10px;
        :nth-child(1) {
            margin-right: 0;
        }
        :nth-child(2) {
            margin-right: 0;
        }
        :nth-child(3) {
            margin-right: 0;
        }
    }
}